<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Let's create a business account</h3>
      </div>

      <div class="panel-body">
      	<%= simple_form_for(@business, html: {role: 'form'}) do |f| %>
      	  <%= render 'form', f: f %>
      	  <%= render "form_buttons", placeholder: "business" %>
      	<% end %>
      </div>
    </div>
  </div>
</div>
