<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-sky" data-widget='{"draggable": "false"}'>
      <div class="panel-heading">
        <h3>INVOICES</h3>
      </div>
        <div class="panel-body">
          <%= page_entries_info @invoices %>
        </div>

      <% if @invoices.any? %>
        <div class="infinite-table">
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
              <th>RECEIPT #</th>
              <th>INVOICE ID</th>
              <th>SUBSCRIPTION ID</th>
              <th>CUSTOMER</th>
              <th>AMOUNT</th>
              <th>PAID</th>
              <th>BALANCE</th>
              <th>STATUS</th>
              <th>DUE DATE</th>
            </tr>

            <% @invoices.each do |invoice| %>
              <%= render 'invoice', invoice: invoice %>
            <% end %>
            </table>

            <div class="pagination">
              <%= paginate @invoices, theme: 'bootstrap4' %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'discount_breakdown' %>
