<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-sky" data-widget='{"draggable": "false"}'>
      <div class="panel-heading">
        <h3>CUSTOMERS</h3>
      </div>

      <div class="panel-body">
        <%= page_entries_info @customers %>

        <%= link_to [:new, @current_business, :customer], class: "pull-right btn btn-success btn-raised" do %>
          <i class="material-icons">done</i> customer
        <% end %>
      </div>

      <% if @customers.any? %>
        <div class="infinite-table">
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>CUSTOMER ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>CREATED ON</th>
                <th colspan=""></th>
              </tr>

              <% @customers.each do |customer| %>
                <%= render 'customer', customer: customer %>
              <% end %>
            </table>

            <div class="pagination">
              <%= paginate @customers, theme: 'bootstrap4' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
